[submodule "themes/elegant"]
	path = themes/elegant
	url = https://github.com/talha131/pelican-elegant.git
[submodule "plugins/better_figures_and_images"]
	path = plugins/better_figures_and_images
	url = https://github.com/getpelican-plugins/better_figures_and_images.git
[submodule "themes/niu-x2"]
	path = themes/niu-x2
	url = https://github.com/mawenbao/niu-x2.git
