[submodule "themes/elegant"]
	path = themes/elegant
	url = https://github.com/talha131/pelican-elegant.git
[submodule "plugins/better_figures_and_images"]
	path = plugins/better_figures_and_images
	url = https://github.com/getpelican-plugins/better_figures_and_images.git
[submodule "themes/niu-x2"]
	path = themes/niu-x2
	url = https://github.com/mawenbao/niu-x2.git
[submodule "plugins/extract_headings"]
	path = plugins/extract_headings
	url = https://github.com/mawenbao/extract_headings.git
[submodule "plugins/niux2_lazyload_helper"]
	path = plugins/niux2_lazyload_helper
	url = https://github.com/mawenbao/niux2_lazyload_helper.git
[submodule "niu-x2-sidebar"]
	path = themes/niu-x2-sidebar
	url = https://github.com/whypro/niu-x2-sidebar.git
